  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  #mySidenav{
    background: rgb(27, 26, 26);
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    cursor: pointer;
    color: rgb(206, 153, 7);
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    image-resolution: 500px;
    transition: margin-left .5s;
    padding: 20px;
  }

  #img_space{
    width: 100%;
    height: 500px;
    opacity: 80%;
  }


  #logo{
    padding-left:20px;
    width:100px;
    height:100px;
  }

  #home-0, #skills-1, #projects-2, #contact-3 {
    /*color: #ffe600;*/
    background-image: -webkit-linear-gradient(crimson 95%, rgb(255, 255, 255) 30%);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 100% 50px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: stripes 2s linear infinite;
    animation: stripes 2s linear infinite;
  }

  #flag{
    padding-top: 20px;
    padding-left:50px;
  }

  @-webkit-keyframes stripes {
    100% {
      background-position: 0 -50px;
    }
  }
  
  @keyframes stripes {
    100% {
      background-position: 0 -50px;
    }
  }


  .container_top{
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 122, 131);
    height: 75px;
  }

  #container_top{
    background-color: rgb(130, 213, 219);
  }

  .btn-navbar{
    height: 45px;
    width: 65px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom : 5px;
    font-size: 15px;
    color : rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
  }

  .btn-navbar:hover{
    background-color: rgb(255, 222, 131);
  }
 
  .title_container{
    height: 55px;
    width: 100%;
    margin-top: 15px;
    margin-left: 20%;
    margin-right: 10%;
    transition: margin-left .5s;
    background-color: rgb(130, 213, 219);
  }

  #burger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  #title_section{
    text-align: center;
    position: relative; 
    font-size: 25px;
    color : rgb(0, 0, 0);
    border-radius: 100px;
    border-color: rgb(0, 74, 80);
    font-family: "PT Serif","Palatino Linotype","URW Palladio L","Book Antiqua";
    background: rgb(0, 122, 131);
    animation: movingTopToBottom 0.8s linear;
  }

  @keyframes movingTopToBottom {
    0% {
      top: -80px;
    }
    100% {
      top: 0px;
    }
  }

  #h2_content{
    text-align: center;
    position: relative;
    color : rgb(23, 156, 40);
    animation: movingTopToBottom_ 0.8s linear;
  }

  #home_section h2{
    position: relative;
    animation: movingTopToBottom_ 1.5s linear; 
  }

  #home_section h3{
    position: relative;
    animation: movingBottomToTop 1.5s linear; 
  }

  @keyframes movingTopToBottom_ {
    0% {
      top: -400px;
    }
    100% {
      top: 0px;
    }
  }

  @keyframes movingBottomToTop {
    0% {
      bottom: -400px;
    }
    100% {
      bottom: 0px;
    }
  }

  #title_skills_top{
    color:white; 
    margin-left:240px; 
    margin-top:40px;
  }

  #main_layout{
    width: 100%;
    height: 700px;
  }

  #home_section h2{
    color:white;
    font-size: 32px;
    font-family:Courier New; 
    margin-top: 150px;
    margin-left: 90px;
  }

  #home_section h3{
    color:white;
    font-size: 24px;
    font-family:Courier New;
    margin-top: 200px;
    margin-left: 100px;
  }

  #main{
    height: 800px;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(180deg, #ffffff 35%,rgb(255, 255, 255) 25%);
    background-image: url("../assets/img/background1.png");
  }

  .bubbles img{
    width: 50px;
    animation: bubble 5s linear infinite;
  }


  @keyframes bubble {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translateY(-80vh);
      opacity: 0;
    }
  }

  .bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
  }

  .bubbles img:nth-child(2){
    animation-delay: 1s;
  }

  .bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
  }

  .bubbles img:nth-child(4){
    animation-delay: 4.5s;
  }

  .bubbles img:nth-child(5){
    animation-delay: 3s;
  }

  .bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
  }

  .bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
  }

  .bubbles{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom:-70px;
  }

  .progress {
    background: rgb(0, 0, 0);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 1px;
    margin-bottom: 30px;
    display: flex;
    height: 16px;
    width: 220px;
  }
  
  .progress-value-95-blue {
    animation: load95 5s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(52, 231, 255);
    height: 8px;
    width: 0;
  }
  
  .progress-value-95-green {
    animation: load95 10s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(39, 201, 106);
    height: 8px;
    width: 0;
  }

  .progress-value-95-purple {
    animation: load95 15s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background:#7510F7;
    height: 8px;
    width: 0;
  }


  @keyframes load95 {
    0% { width: 0; }
    100% { width: 100%; }
  }


  #skills_section{
    margin-top:40px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"box1 box2 box3";
  }

  .front_end{
    grid-area: box1;
    border-style:solid;
    border-width: 0.3px;
    border-right-width: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color:  rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }

  .back_end{
    grid-area: box2;
    border-style:solid;
    border-width: 0.3px;
    border-color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }

  .other{
    grid-area: box3;
    border-style:solid;
    border-width: 0.3px;
    border-left-width: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
  
  .front_end:hover,.back_end:hover,.other:hover{
    background: rgb(255, 255, 255);
    border-width: 3px;
  }

  .small_title{
    color: #7510F7;
    margin-left: 38%;
    margin-right: 25%;
    margin-bottom : 10px;
    padding-bottom: 0;
  }

  .progressbar-container{
    margin-left: 25%;
    margin-right: 30%;
    margin-top : 20px;
  }

  .logo_skills{
    margin-top:0;
    padding-top:0;
    margin-left : 36%;
  }

  .logo_skills:hover{
    border-width: 2px;
    border-color:#000000;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
   .sidenav {
     padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }

  #projects_section{
    margin-top: 150px;
    margin-left: 20%;
    margin-right: 10%;
    width: 60%;
    height: 900px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "project1" 
    "project2";
    transition: margin-left .5s;
  }

  .project1{
    grid-area: project1;
    border-style:solid;
    border-width: 0.3px;
    border-color:rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }

  .project2{
    margin-top: 150px;
    grid-area: project2;
    border-style:solid;
    border-width: 0.3px;
    border-color:rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }

  .image_projects{
    border-style:solid;
    border-width: 0.3px;
    border-color: rgb(0, 255, 255);
  }

  #image1_projects1{
    width: 50%;
    height: 200px;
  }

  #image1_projects1:hover{
    width: 100%;
    height: 400px;
  }

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.container {
  padding: 2px 16px;
}

#footer_main{
  background:rgb(130, 213, 219);
}