<!-- javascript:void(0) -->


<div id="mySidenav" class="sidenav">
  <a class="closebtn" (click)="closeNav()">&times;</a>
  <img src="assets/img/logo.jpg" id="logo">
  <a (click)="changeSection(0)" id="{{ 'home-' + currentSection }}">{{ navbar[0] }}</a>
  <a (click)="changeSection(1)" id="{{ 'skills-' + currentSection }}">{{ navbar[1] }}</a>
  <a (click)="changeSection(2)" id="{{ 'projects-' + currentSection }}">{{ navbar[2] }}</a>
  <a (click)="changeSection(3)" id="{{ 'contact-' + currentSection }}">{{ navbar[3] }}</a>
  <a (click)="changeLanguage()" id="flag">
    <img src="{{ flag_path_img }}">
  </a>
</div>

<div class="container_top" id="container_top">
<!-- Use any element to open the sidenav -->
<button (click)="openNav()" class="btn-navbar" id="btn-navbar">
  <div id="burger"></div>
  <div id="burger"></div>
  <div id="burger"></div>
</button>

<div class="title_container" id="title_container"><h1 id="title_section">{{ title_section }}</h1></div>
</div>
<!--
<button (click)="openNav()" class="tw-block tw-full-width tw-interactable tw-interactable--default tw-interactable--hover-enabled tw-interactive" data-test-selector="rotate-arrow"><div class="tw-flex tw-pd-x-05"><div class="ScIconLayout-sc-1bgeryd-0 cFCmuf tw-icon"><div class="ScAspectRatio-sc-1sw3lwy-1 dNNaBC tw-aspect"><div class="ScAspectSpacer-sc-1sw3lwy-0 gkBhyN"></div><svg width="30px" height="100px" version="1.1" viewBox="0 0 20 20" x="0px" y="0px" class="ScIconSVG-sc-1bgeryd-1 cMQeyU"><g><path d="M13.5 14.5L9 10l4.5-4.5L12 4l-6 6 6 6 1.5-1.5z"></path></g></svg></div></div></div></button>
-->



<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">


  <div id="main_layout">

    <!-- Home -->
    <div *ngIf="currentSection == 0" id="home_section">
      <div class="bubbles">
        <img src="assets/img/bubble.png">
        <img src="assets/img/bubble.png">
        <img src="assets/img/bubble.png">
        <img src="assets/img/bubble.png">
        <img src="assets/img/bubble.png">
        <img src="assets/img/bubble.png">
        <img src="assets/img/bubble.png">
      </div>
      <h2 *ngIf="language_choosed == 1">Bonjour, je m'appelle <g style="color:rgb(0, 0, 0)">Nicolas</g>. Ravi de vous rencontrer.</h2>
      <h3 *ngIf="language_choosed == 1">Je suis un développeur web junior full-stack.</h3>
      <h2 *ngIf="language_choosed == 2">Hi, i'm <g style="color:rgb(0, 0, 0)">Nicolas</g>. Nice to meet you.</h2>
      <h3 *ngIf="language_choosed == 2">I'm a full-stack junior web developer.</h3>
    </div>
    <!-- Home -->


    <div *ngIf="currentSection == 1">
      <h2 id="title_skills_top" *ngIf="language_choosed == 1">Voici mes compétences actuelles. Elles seront régulièrement mise à jour grâce à ma veille technologique. </h2>
      <h2 id="title_skills_top" *ngIf="language_choosed == 2">As a developer, we have to learn as much as possible newest technologies. Here are my current skills right now. </h2>
    </div>


    <!--Skills -->
    <div *ngIf="currentSection == 1" id="skills_section">

      <div class="front_end">


        <h2 class="small_title">Front-End</h2>

        <img src="assets/img/logo_front-end.jpg" class="logo_skills">


          <div class="progressbar-container">
            <div class="name_skills">HTML5</div>       
          </div>  
          <div class="progressbar-container">
            <div class="name_skills">CSS3 & CSS4</div>      
          </div>
          <div class="progressbar-container">
            <div class="name_skills">Thymeleaf</div>      
          </div>
          <div class="progressbar-container">
            <div class="name_skills">Javascript ecmascript 6</div>
          </div>
          <div class="progressbar-container">
            <div class="name_skills">Framework : Bootstrap 3 & 4</div>
          </div>
          <div class="progressbar-container">
            <div class="name_skills">Framework : Angular CLI 10</div>         
          </div>

      </div>



      <div class="back_end">

        

        <h2 class="small_title">Back-End</h2>

        <img src="assets/img/logo_back-end.jpg" class="logo_skills">


        <div class="progressbar-container">
          <div class="name_skills">Java Entreprise Edition 8 and more</div>
        </div>
        <div class="progressbar-container">  
          <div class="name_skills">Framework : Spring Boot, Data, Security, Batch</div>
        </div>  
        <div class="progressbar-container">
          <div class="name_skills">Maven / Hibernate / Jpa</div>
        </div> 
        <div class="progressbar-container">
          <div class="name_skills">Log4J2 / Session / JWT</div>
        </div> 
        <div class="progressbar-container">  
          <div class="name_skills">Junit / Mockito / IT / UT</div>
        </div>
        <div class="progressbar-container">  
          <div class="name_skills">MySQL / PostgreSQL</div>
        </div>

      </div>



      <div class="other">

        <h2 class="small_title">Dev Tools</h2>

        <img src="assets/img/logo_more.jpg" class="logo_skills">

        <div class="progressbar-container">
          <div class="name_skills">Git / Github / Gitlab</div>
        </div>
        <div class="progressbar-container">
          <div class="name_skills">Jenkins CI / Postman</div>
        </div>
        <div class="progressbar-container">
          <div class="name_skills">Eclipse / Visual Studio Code</div>
        </div>
        <div class="progressbar-container">
          <div class="name_skills">Amazon Web Service / Firebase</div>
        </div>
        <div class="progressbar-container">
          <div class="name_skills">Docker</div>
        </div>
        <div class="progressbar-container">
          <div class="name_skills">TDD / Agile</div>
        </div>


      </div>

    </div>
    <!--Skills -->

    <!--Projects -->
    <div *ngIf="currentSection == 2" id="projects_section">

      <div class="project1">

        <div class="card">
          <img src="assets/img/projet1.jpg" alt="Avatar" style="width:100%">
          <div class="container" *ngIf="language_choosed == 1">
            <h4><b>Projet de site web pour les associations sportives</b></h4>
            <p>J'ai réaliser un site web de zéro avec un service REST Java, une authentification avec JWT et un front Angular. 
              Le site permet d'écrire(User), de diffuser(Moderator), de modifier(Moderator) ou de désactiver(Moderator) des articles par catégorie. Une section forum a également été commencée (mais pas finie). 
              Créer un compte, s'authenfier avec, accéder à son espace perso.    
            </p>
            <p>Lien github du projet : <a href="https://github.com/Silverawz/P12" target="_blank">Lien</a></p>
          </div>
          <div class="container" *ngIf="language_choosed == 2">
            <h4><b>Website Project for sportives associations</b></h4>
            <p>I've made this website from scratch with RestFULL API Java, JsonWebToken as authentication service and used Angular as front framework for the site.
              The main features of the site are : read(User), update(Moderator), disable(Moderator) articles from differents category (Football, Basketball...). The begin of a forum section has been created aswell but all features are not implemented yet.
              You can also made an account and loggin with and access to your personnal space with your infos. 
            </p>
            <p>Github link of project : <a href="https://github.com/Silverawz/P12" target="_blank">Link</a></p>
          </div>
        </div>
    
      </div>

      <div class="project2">

        <div class="card">
          <img src="assets/img/projet2.jpg" alt="Avatar" style="width:100%">
          <div class="container" *ngIf="language_choosed == 1">
            <h4><b>Projet de site d'une bibliothèque</b></h4>
            <p>API REST Java avec front thymeleaf, authentification par session Spring Security  / Batch réalisé avec JavaMail pour empruns non retourné avant la date butoire     
            </p>
            <p>Lien github du projet : <a href="https://github.com/Silverawz/p10-livrables" target="_blank">Lien</a></p>
          </div>
          <div class="container" *ngIf="language_choosed == 2">
            <h4><b>Website project library</b></h4>
            <p>API REST Java with Thymeleaf as front-end, Session as authentication with Spring Security / Batch made manually to send Email with JavaMail if burrows were not returned before the expiration date     
            </p>
            <p>Github link of project : <a href="https://github.com/Silverawz/p10-livrables" target="_blank">Link</a></p>
          </div>
        </div>

      </div>


    </div>
    <!--Projects -->


    <!-- Contact -->
    <div *ngIf="currentSection == 3" id="contact_section">

      <div *ngIf="currentSection == 3" id="home_section">

        <div class="bubbles">
          <img src="assets/img/bubble.png">
          <img src="assets/img/bubble.png">
          <img src="assets/img/bubble.png">
          <img src="assets/img/bubble.png">
          <img src="assets/img/bubble.png">
          <img src="assets/img/bubble.png">
          <img src="assets/img/bubble.png">
        </div>
        <h2 *ngIf="language_choosed == 1">Vous pouvez me contacter à l'adresse email suivante : </h2>
        <h3 *ngIf="language_choosed == 1"><a href = "mailto: deroussenicolas@gmail.com">deroussenicolas@gmail.com</a></h3>
        <h2 *ngIf="language_choosed == 2">You are free to contact me with my email : </h2>
        <h3 *ngIf="language_choosed == 2"><a href = "mailto: deroussenicolas@gmail.com">deroussenicolas@gmail.com</a></h3>
    </div>
    </div>
    <!-- Contact -->

  </div>



</div>

  <!-- Footer -->
  <footer class="page-footer font-small blue" id="footer_main">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" id="footer" style="margin-left:40%">© 2020 Portfolio Nicolas Deroussen:
      <p>Tous droits reservés.</p>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
<!--
<div>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
  Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des 
  morceaux de texte pour réaliser un livre spécimen de polices de texte. 
  Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, 
  sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de 
  feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans 
  des applications de mise en page de texte, comme Aldus PageMaker.</div>
  <div>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
   Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des 
   morceaux de texte pour réaliser un livre spécimen de polices de texte. 
   Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, 
   sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de 
   feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans 
   des applications de mise en page de texte, comme Aldus PageMaker.</div>-->