@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
  
  
  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    cursor: pointer;
    color: rgb(206, 153, 7);
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    image-resolution: 500px;
    transition: margin-left .5s;
    padding: 20px;
  }
  




  #img_space{
    width: 100%;
    height: 500px;
    opacity: 80%;
  }


  #logo{
    padding-left:20px;
    width:100px;
    height:100px;
  }

  #home-0, #skills-1, #projects-2, #contact-3 {
    /*color: #ffe600;*/
    background-image: -webkit-linear-gradient(crimson 95%, rgb(255, 255, 255) 30%);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 100% 50px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: stripes 2s linear infinite;
    animation: stripes 2s linear infinite;
  }

  #flag{
    padding-top: 20px;
    padding-left:50px;
  }

  @-webkit-keyframes stripes {
    100% {
      background-position: 0 -50px;
    }
  }
  
  @keyframes stripes {
    100% {
      background-position: 0 -50px;
    }
  }


  .container_top{
    /*visibility: hidden !important;*/
    display: flex;
    justify-content: space-around;
    background-color: rgb(195, 211, 212);
    height: 75px;
  }

  .btn-navbar{
    height: 45px;
    width: 65px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom : 5px;
    font-size: 15px;
    color : rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
  }

  .btn-navbar:hover{
    background-color: rgb(255, 222, 131);
  }
 
  .title_container{
    height: 55px;
    width: 100%;
    margin-top: 15px;
    margin-left: 20%;
    margin-right: 10%;
    transition: margin-left .5s;
  }

  #burger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  #title_section{
    text-align: center;
    position: relative;
    font-size: 25px;
    color : rgb(0, 0, 0);
    font-family: "PT Serif","Palatino Linotype",Palatino,Palladio,"URW Palladio L","Book Antiqua",Baskerville,"Bookman Old Style","Bitstream Charter","Nimbus Roman No9 L",Garamond,"Apple Garamond","ITC Garamond Narrow","New Century Schoolbook","Century Schoolbook","Century Schoolbook L",Georgia,serif;
    border-radius : 2px;
    animation: movingTopToBottom 0.8s linear;
  }

  @keyframes movingTopToBottom {
    0% {
      top: -80px;
    }
    100% {
      top: 0px;
    }
  }

  #h2_content{
    text-align: center;
    position: relative;
    color : rgb(23, 156, 40);
    animation: movingTopToBottom_ 0.8s linear;
  }

  #content_1, #content_2, #content_3, #content_4{
    position: relative;
    color : rgb(0, 0, 0);
    animation: movingTopToBottom_ 1.2s linear; 
  }

  @keyframes movingTopToBottom_ {
    0% {
      top: -400px;
    }
    100% {
      top: 0px;
    }
  }


  #main_layout{
    
  }

  /*#main {
    image-resolution: 500px;
    transition: margin-left .5s;
    padding: 20px;
  }
  */
  
  #main{
    height: 800px;
    background-color: rgb(0, 0, 0);
    /*background: linear-gradient(180deg, #7510F7 35%,rgb(255, 255, 255) 25%);
    a remettre aprés
    */
    background: linear-gradient(180deg, #ffffff 35%,rgb(255, 255, 255) 25%);
    background-image: url("../assets/img/background.png");
  }

  .bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
  }

  @keyframes bubble {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translateY(-80vh);
      opacity: 0;
    }
  }

  .bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
  }

  .bubbles img:nth-child(2){
    animation-delay: 1s;
  }

  .bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
  }

  .bubbles img:nth-child(4){
    animation-delay: 4.5s;
  }

  .bubbles img:nth-child(5){
    animation-delay: 3s;
  }

  .bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
  }

  .bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
  }

  .bubbles{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom:-70px;
  }

  .progress {
    background: rgb(0, 0, 0);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 1px;
    display: flex;
    height: 12px;
    width: 100px;
  }
  
  .progress-value-95-blue {
    animation: load95 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(52, 231, 255);
    height: 8px;
    width: 0;
  }
  
  .progress-value-75-blue {
    animation: load75 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(52, 231, 255);
    height: 8px;
    width: 0;
  }

  .progress-value-95-green {
    animation: load95 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(39, 201, 106);
    height: 8px;
    width: 0;
  }
  
  .progress-value-75-green {
    animation: load75 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(39, 201, 106);
    height: 8px;
    width: 0;
  }

  .progress-value-95-orange {
    animation: load95 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background:#7510F7;
    height: 8px;
    width: 0;
  }

  .progress-value-75-orange {
    animation: load95 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(201, 85, 39);
    height: 8px;
    width: 0;
  }


  @keyframes load95 {
    0% { width: 0; }
    100% { width: 95%; }
  }
  
  @keyframes load75 {
    0% { width: 0; }
    100% { width: 75%; }
  }

  #skills_section{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"box1 box2 box3";
  }

  .front_end{
    grid-area: box1;
    border-style:solid;
    border-width: 0.3px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color:  rgb(216, 214, 214);
    background: rgb(255, 255, 255);
  }

  .back_end{
    grid-area: box2;
    border-style:solid;
    border-width: 0.3px;
    border-color: rgb(216, 214, 214);
    background: rgb(255, 255, 255);
  }

  .other{
    grid-area: box3;
    border-style:solid;
    border-width: 0.3px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: rgb(216, 214, 214);
    background: rgb(255, 255, 255);
  }
  
  .front_end:hover,.back_end:hover,.other:hover{
    background: rgb(255, 255, 255);
    border-width: 3px;
  }

  .small_title{
    color: #7510F7;
    margin-left: 34%;
    margin-right: 25%;
    margin-bottom : 50px;
  }

  .progressbar-container{
    margin-left: 30%;
    margin-right: 30%;
    margin-top : 20px;
  }

  .logo_skills{
    margin-left : 30%;
  }

  .logo_skills:hover{
    border-width: 2px;
    border-color:#000000;
  }



  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
   .sidenav {
     padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }

  #projects_section{
    border: 3px solid rgb(0, 0, 0);
    border-left-color:white;
    border-right-color:white;
    border-bottom-color:white;
    border-radius : 10px;
    margin-top: 150px;
    margin-left: 20%;
    margin-right: 10%;
    width: 60%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "project1" 
    "project2";
    transition: margin-left .5s;
  }

  .project1{
    grid-area: project1;
    border-style:solid;
    border-width: 3px;
    border-color:rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    text-align: center;
  }

  .project2{
    margin-top: 150px;
    grid-area: project2;
    border-style:solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
  }

  #slider{
    width: 100%;
    max-width: 1000px;
    background: rgb(255, 253, 156);
    border-style:solid;
    border-width: 2px;
    border-color: rgb(255, 208, 0);
    overflow:hidden;
  }

  #slider figure{
    position:relative;
    width: 500%;
    margin:0;
    padding:0;
    font-size:0;
    left:0;
    text-align:left;
    animation: 20s slidy infinite;
  }

  .image_projects{
    width: 20%;
    height: 400px;
    float:left;
  }

  @keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
  }

  #small_title_project{
  }